# Byte-compiled / virtual env / env files
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
venv/
venv/
.venv/

# IDEs
.idea/
.vscode/

# Python test / coverage
.pytest_cache/
.coverage

# Logs and runtime data
data/

# Mac / OS
.DS_Store

# Secrets
*.pem
*.key
